# Aggregations

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd 
import numpy as np
import seaborn as sb

### Step 2. Import the dataset occupation.csv from the folder

In [3]:
A=pd.read_csv("occupation.csv")
A.head()

  user_id|age|gender|occupation|zip_code
0                1|24|M|technician|85711
1                     2|53|F|other|94043
2                    3|23|M|writer|32067
3                4|24|M|technician|43537
4                     5|33|F|other|15213

### Step 3. Assign it to a variable called users.

In [ ]:
users=A

### Step 4. Discover what is the mean age per occupation

# Step 5. Discover the Male ratio per occupation and sort it from the most to the least.

Use numpy.where() to encode gender column.

### Step 6. For each occupation, calculate the minimum and maximum ages

### Step 7. For each combination of occupation and gender, calculate the mean age

### Step 8.  For each occupation present the percentage of women and men